<div class="message-area">

  <% if messages.present? %>

      <% messages.each do |m| %>
        <% user = m.user %>
        <% if current_user == user %>
          <div class="message-area-box-user">
            <div class="message-icon">
              <%= attachment_image_tag m.user, :profile_image, fallback: "Cafegraphy.jpg", class:"profile-img-circle", size: "40x40" %>
              <p><%= m.user.name %></p>
            </div>
            <p><strong><%= m.content %></strong></p>
            <br>
          </div>
        <% else %>
          <div class="message-area-box">
            <div class="message-icon">
              <%= attachment_image_tag m.user, :profile_image, fallback: "Cafegraphy.jpg", class:"profile-img-circle", size: "40x40" %>
              <p><%= m.user.name %></p>
            </div>
            <p><strong><%= m.content %></strong></p>
            <br>
          </div>
        <% end %>
      <% end %>
  <% else %>
    <h3 class="text-center">メッセージはまだありません</h3>
  <% end %>
</div>
