<div class="row">
  <div class="col-xs-12 ml-auto mr-auto">

    <h2>メールアドレス/パスワード変更</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field form form-group">
        <%= f.label :メールアドレス %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field form form-group">
        <%= f.label :"現在のパスワード" %><br />
        <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
      </div>

      <div class="field form form-group">
        <%= f.label :"新しいパスワード" %>(変更したくない場合は空欄のまま)<br />
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="field form form-group">
        <%= f.label :"確認のため、もう一度入力して下さい" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>



      <div class="actions">
        <%= f.submit "Update", class: "font form submit-password" %>
      </div>
    <% end %>


    <%= link_to "前に戻る", :back, class: "no-underline back-btn" %>
  </div>
</div>
