<% user ||= current_user %>
<div class="stats">
  <%= link_to following_user_path(user), class: "no-underline btn-hover" do %>

    <strong id="following-count_<%= user.id %>" class="stat">
      <span>フォロー<%= user.followings.count %></span>
    </strong>

  <% end %>|
  <%= link_to followers_user_path(user), class: "no-underline btn-hover" do %>

    <strong id="followers-count_<%= user.id %>" class="stat">
      <span>フォロワー<%= user.followers.count %></span>
    </strong>

  <% end %>
</div>