<% user ||= current_user %>
<div class="stats">
  <%= link_to following_user_path(user) do %>
  フォロー
    <strong id="following-count_<%= user.id %>" class="stat">
      <%= user.followings.count %>
    </strong>
  <% end %>|
  <%= link_to followers_user_path(user) do %>
  フォロワー
    <strong id="followers-count_<%= user.id %>" class="stat">
      <%= user.followers.count %>
    </strong>
  <% end %>
</div>