<div class="container">
	<div class="row">
		<div class="col-xs-10 ml-auto mr-auto">
			<section class="follower-index">
				<div class="follow-index-title">
					<h2><%= @user.name %> さんのFollowerリスト</h2>
				</div>
				<% @user.followers.each do |user| %>
					<table class="follower-box">
						<tr>
						  <td>
						  	<%= link_to user_path(user) do %>
					  			<%= attachment_image_tag user, :profile_image, size: "40x40" ,fallback: "Cafegraphy.jpg", class: "rounded-circle" %>
					  		<% end %>
					  	<td>
					  		<div class="follower-name">
						  		<%= link_to user_path(user), class: "no-underline" do %>
									<%= user.name %>
							  	<% end %>
						  	</div>
						  </td>
						  <td class="follow-post-count">
						  	<span><i class="fas fa-camera-retro"></i></span>
				  			:<%= user.posts.count %>
				  		</td>
						  <td class="float-right"><%= render "relationships/follow_button", user: user %></td>
						</tr>
					</table>
					<hr>
				<% end %>
				<div class="text-center"><%= paginate @users %></div>
			</section>
		</div>
	</div>
</div>