<section class="mypage">
	<div class="row">
		<div class="col-xs-10">
				<div class="mypage-profile text-center">
					<p><%= attachment_image_tag(@user, :profile_image, size: "100x100" ,fallback: "Cafegraphy.jpg", class: "rounded-circle") %>
					</p>
					<span class="edit-link">
						<%= link_to edit_user_path(@user) do %>
						 <i class="fas fa-cog"></i>
						<% end %>
					</span>
					<div class="mypage-profile-name">
					  <h3><%= @user.name %></h3>
					  <p><%= @user.introduction %></p>
				    </div>
				</div>
				<div class="mypage-index">
					<% @posts.each do |post| %>
					<div class="box-image">
					 <%= link_to post_path(post.id) do %>
                      <%= attachment_image_tag(post, :post_image, size: "160x160") %>
                     <% end %>
                    </div>
					<% end %>
				</div>
		</div>
	</div>
</section>
