<section class="post-edit">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 ml-auto mr-auto">
				<div class="post-edit-form">
					<h2 class="head-line">編集</h2>
					<%= form_for(@post) do |f| %>
					<!-- エラーメッセージ -->
					<%= render partial: "layouts/error", locals: {post: @post} %>

							<div id="item-image">
					            <%= attachment_image_tag @post, :post_image, class: "img-square", fallback: "no_image.jpg", size:"200x200" %>
					        </div>
							<div class="form-group">
								<%= f.attachment_field :post_image, class: "image" %>
							</div>
							<div class="form-group">
								<%= f.text_field :title, class: "form-control", placeholder:"タイトル" %>
							</div>
							<div class="form-group">
								<%= f.text_field :shop_name, class: "form-control", placeholder:"店名" %>
							</div>
					    <div class="form-group">
				        <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
			            <div class="form-check form-check-inline">
		                <%= tag.label class: "form-check-label tag-label" do %>
	                    <%= tag.check_box class: "form-check-input" %>
	                    <%= tag.text %>
	        					<% end %>
	      					</div>
	    					<% end %>
							</div>
							<div class="actions">
								<%= f.submit "投稿する", class: "edit-btn" %>
							</div>
					<% end %>
					<%= link_to "前に戻る", post_path(@post), class: "no-underline back-btn" %>
				</div>
			</div>
		</div>
	</div>
</section>
