<div class="row">
	<div class="col-xs-8.offset-xs-4 ml-auto mr-auto post-index-top">
		<section class="post-rank clearfix">
			<h3>人気投稿</h3>
			<% @all_ranks.each do |post_rank| %>
				<div class="post-rank-box">
					<div class="post-rank-user">
						<%= link_to user_path(post_rank.user.id), class: "no-underline" do %>
						<%= attachment_image_tag post_rank.user, :profile_image, size: "40x40" ,fallback: "Cafegraphy.jpg", class: "rounded-circle" %>
						<%= post_rank.user.name %>
						<% end %>
					</div>
					<%= link_to post_path(post_rank.id) do %>
						<%= attachment_image_tag(post_rank, :post_image, size: "160x160") %>
					<% end %>
				</div>
			<% end %>
		</section>
		<%= link_to users_path do %>
			<h5 class="float-right">＞＞人気のユーザーを見る</h5>
		<% end %>
	</div>
</div>

<div class="row">
	<div class="col-xs-8.offset-xs-4 ml-auto mr-auto">
		<section class="post-index">
				<% @posts.each do |post| %>
				<div class="post-index-box">
					<div class="view view-first">
                    	<%= link_to post_path(post.id) do %>
                    		<%= attachment_image_tag(post, :post_image, size: "480x480") %>
                    	<% end %>
                  	</div>
                  	<div class="comment-count">
						<span><i class="fa fa-comment"></i></span>
						<%= post.post_comments.count %>
					</div>
					<div class="post-title">
						<%= post.title %>
					</div>
					<div class="post-user float-right">
					<%= link_to user_path(post.user.id) do %>
						<%= attachment_image_tag post.user, :profile_image, size: "40x40" ,fallback: "Cafegraphy.jpg", class: "rounded-circle" %>
					<% end %>
					<%= link_to user_path(post.user.id), class: "no-underline" do %>
					  <%= post.user.name %>
					<% end %>
					</div>
				</div>
				<% end %>
		</section>
	</div>
</div>

