<% provide(:title, "新規投稿") %>
<section class="post-new">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 ml-auto mr-auto">
				<div class="post-new-form">

					<%= form_for(@post, url: posts_path) do |f|%>
					<%= render 'layouts/error', object: f.object %>
					<form>
						
						<div class="post-new-box">
							<div class="row">
								<div class="post_img_box col-md-5">
									<div class="img_field">
										<span>no image</span>
		        			</div>
									<div id="post_image" class="new-img form-group">
										<%= f.attachment_field :post_image, class: "image" %>
									</div>
								</div>
								<div class="post_form_box col-md-5 ">
									<div class="new-title form-group">
										<%= f.text_field :title, class: "form-control", placeholder:"タイトル" %>
									</div>

									<div class="new-shop_name form-group">
										<%= f.text_field :shop_name, class: "form-control", placeholder:"店名" %>
									</div>
							
									<div class="new-tags form-group">
										<p>複数選択可能</p>
									    <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
						            <div class="form-check form-check-inline">
						                <%= tag.label class: "form-check-label tag-label" do %>
					                    <%= tag.check_box class: "form-check-input" %>
					                    <%= tag.text %>
				          					<% end %>
				      					</div>
				        			<% end %>
				    			</div>
				    			<div class="actions">
										<%= f.submit "投稿する", id: 'submit', class: "new-btn " %>
									</div>
								</div>

							</div>
						</div>
					</form>
					<% end %>
					<%= link_to "前に戻る", :back, class: "no-underline back-btn" %>
				</div>
			</div>
		</div>
	</div>
</section>