<% provide(:title, "投稿詳細") %>
<div class="container">
	<div class="row">
		<div class="col-xs-11  ml-auto mr-auto">
			<section class="post-show">
				<span class="box-title">Cafegraphy</span>
				<div class="post-item">
					<div class="post-image">
	          <%= attachment_image_tag @post, :post_image, size: "480x480" %>
	        </div>

      		<div class="post-content">
      			<% if @post.user == current_user %>
		        	<div class="post-icons clearfix">
			        	<div class="float-left" id="likes_buttons_<%= @post.id %>">
									<%= render partial: 'likes/like', locals: {post: @post} %>
								</div>
			        		 <%= link_to edit_post_path(@post), class: "no-underline" do %>
			        		  	<span class="post-edit"><i class="fas fa-edit"></i></span>
			        		 <% end %>
				           <%= link_to post_path(@post), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"} do %>
				              <span class="post-delete"><i class="fas fa-trash-alt"></i></span>
				           <% end %>
				      </div>
			    	<% else %>
				    	<div class="post-icons clearfix">
			        	<div class="float-left heart-user" id="likes_buttons_<%= @post.id %>">
									<%= render partial: 'likes/like', locals: {post: @post} %>
								</div>
							</div>
			    	<% end %>


						<div class="post-body">
		        	<h3 class="post-title"><%= @post.title %></h3>
	        		<h5><span><i class="fas fa-store"></i> <%= @post.shop_name %></h5></span>
	        		<!-- タグ -->
	        		<div class="post-tags">
		        		<% @post.tags.each do |tag| %>
		        		  <span class="badge badge-info"><%= tag.name %></span>
		        		<% end %>
		        	</div>
	        	</div>

	        	<%= render 'layouts/share' %>

						<div class="post-user float-right">
							<span class="post-date"><%= @post.created_at.strftime('%Y/%m/%d') %></span>
							<%= link_to user_path(@post.user.id), class: "no-underline" do %>
								<%= attachment_image_tag @post.user, :profile_image, size: "40x40" ,fallback: "Cafegraphy.jpg", class: "rounded-circle" %>
								<%= @post.user.name %>
							<% end %>
						</div>
					</div>
				</div>
				<!-- コメント機能 -->
				<div id="comments_index-<%= @post.id %>">
          <%= render partial: 'post_comments/index', locals: { post: @post, post_comment: @post_comment } %>
        </div>
			</section>
			<%= link_to "前に戻る", 'javascript:history.back()', class: "no-underline back-btn" %>
		</div>
	</div>
</div>
