<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/ed4356e0bc.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render "layouts/ham" %>
    <% end %>
    <% unless request.url == root_url %>
      <header>
        <%= render "layouts/header" %>
      </header>
    <% end %>
    <main>
        <%= yield %>
    </main>
    <% unless request.url == root_url %>
      <footer>
        <%= render "layouts/footer" %>
      </footer>
      <% end %>
    <%= render "layouts/pagetop" %>

  </body>
</html>
